/* super small mobile */

@media (max-width: 427px) {
  .customers-item {
    width: 100%;
  }

  .mobile-tell-menu {
    font-size: 24px;
  }

  .modal {
    width: calc(100% - 36px);
  }
}

/* for the mobile */

@media (max-width: 767px) {
  .workers-soc-list.list {
    flex-wrap: wrap;
  }

  .header-list {
    display: none;
  }

  .header-address-list {
    display: none;
  }

  .container.footer-container {
    flex-wrap: wrap;
    padding: 0 16px;
    justify-content: center;
    text-align: center;
    row-gap: 72px;
  }

  .footer-item--info {
    margin: 0;
  }

  .footer-item--social {
    margin: 0;
  }

  .footer-form {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  .footer-item--form {
    width: 100%;
  }

  .footer-input {
    width: 100%;
  }

  .portfolio-hero-button {
    padding: 8px 16px;
  }

  .portfolio-hero-list {
    justify-content: flex-start;
  }

  .modal {
    padding: 72px 16px 24px;
  }
}

/* for tablet */

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .hero {
    padding: 188px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  .hero {
    background-color: var(--link-text-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .workers-list {
    gap: 64px 24px;
  }

  .about-list {
    display: flex;
    gap: 72px 24px;
  }

  .about-title {
    text-align: left;
  }

  .about-item {
    width: calc((100% - 1 * 24px) / 2);
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .workers .container {
    max-width: 584px;
  }

  .portfolio-container-item {
    width: calc((100% - 1 * 24px) / 2);
  }
  .header-logo {
    margin-right: 120px;
  }

  .header-address {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .header-address-list {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 12px;
  }

  .header-address-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }

  .header-list {
    margin: 0;
  }

  .footer-item--info {
    margin-right: 24px;
  }

  .footer-item--social {
    margin: 0;
  }

  .container.footer-container {
    flex-wrap: wrap;
    max-width: 584px;
    row-gap: 72px;
  }

  .portfolio-hero {
    padding: 64px 0;
  }

  .portfolio-hero-list {
    margin-bottom: 64px;
  }

  .portfolio-container-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers .container {
    max-width: 584px;
  }
}

/* for desktop */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .hero {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-desk-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
  }

  .about-list {
    display: flex;
    gap: 24px;
  }
  .about-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .about-item-picture {
    display: flex;
  }

  .work {
    display: block;
  }

  .workers-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .workers .container {
    padding: 0 16px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  .portfolio-container-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .container {
    padding: 0 15px;
  }

  .portfolio-hero {
    padding: 100px 0 120px;
  }

  .portfolio-hero-list {
    margin-bottom: 72px;
  }
}
